# Python
backend/.venv/
backend/venv/
backend/__pycache__/
backend/*.pyc

backend/campaigns.db

# Environment variables
.env
backend/.env

# Node
frontend/node_modules/
node_modules/

# Frontend build
frontend/dist/